name: Main Work

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'

jobs:
  build:
    name: Updating readme first from template
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Update README.md
      run: node index.js > README.md
    - name: Commit change & Push
      run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git commit -am "bot: updated README.md"
          git push

  update-readme-with-blog:
    needs: [build]
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "5"
          feed_list: "https://abd3lraouf.tech/rss2.xml"

  update-readme:
    needs: [update-readme-with-blog]
    name: Get waka time info
    runs-on: ubuntu-latest
    steps:
      - uses: AbdElraoufSabri/waka-readme-stats@master 
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_PROJECTS: "False"
          SHOW_LINES_OF_CODE: "False" 
          # SHOW_LANGUAGE_PER_REPO: "False"
#           SHOW_LANGUAGE: "False"
          SHOW_SHORT_INFO: "False"
          SHOW_OS: "False"
          SHOW_EDITORS: "False"
#           SHOW_TIMEZONE: "False"
          SHOW_LOC_CHART: "False"
          SHOW_PROFILE_VIEWS: "False"
